.top-bar.expanded .title-area {
    color: #18FFFF;
    background-color: #4DD0E1;
    box-shadow: 0px 0px 10px 5px #4DD0E1;
    border-radius: 2px;
    transition: 1s;
}

.top-bar.expanded .title-area:hover {
    box-shadow: 0px 0px 20px 10px #4DD0E1;
    color: #18FFFF;
}

.top-bar.expanded, .top-bar,.top-bar-section ul li,.top-bar-section li:not(.has-form) a:not(.button) {
    color: #18FFFF;
    text-shadow: 0 0 3px #18FFFF;
    transition: 0.5s;
}

.top-bar.expanded, .top-bar,.top-bar-section ul li,.top-bar-section li:not(.has-form) a:not(.button):hover {
    color: #18FFFF;
    text-shadow: 0 0 7px #18FFFF;
}
