.top-bar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.top-bar-section ul li,.top-bar-section li:not(.has-form) a:not(.button) {
    font-family: 'Orbitron', sans-serif;
    color: #18FFFF;
    text-shadow: 0 0 0.5px #18FFFF;
    transition: 0.5s;
}

.top-bar-section ul li,.top-bar-section li:not(.has-form) a:not(.button):hover {
    color: #18FFFF;
}

.title-area {
    font-family: 'Orbitron', sans-serif;
    color: #18FFFF;
    font-style: italic;
    /*background-color: #18FFFF;*/
    /*box-shadow: 0px 0px 10px 5px #4DD0E1;*/
    text-shadow: 0 0 5px #18FFFF;
    border-radius: 2px;
    transition: 0.5s;
}
