body {
    width: auto;
    height: auto;
   /*  background-color: #E0E0E0; */
     background: linear-gradient(to right,#757575, #BDBDBD);
}

#mainDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid black;
}

#mainDivOwnGuild {
    width: 1000px;
    height: 1000px;
    border: 1px solid red;
}

#coverPic {
    height: 45%;
    width: 100%;
    background-image: url('CoverGuild.PNG');
}
