.mainContainer {
    height: 100%;
    width: 70%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maxiContainer {
    display: flex;
    flex-direction: row;
    height: 550px;
    width: 700px;
    justify-content: center;
    align-items: center;
}

#fightersContainer {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 220px;
    border-right: 1px solid grey;
    background-color: rgba(238, 239, 182, 0.5);
}

.boxDialog {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 480px;
    border-radius: 10px;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("inbox_cover.jpg")
}

.messagesBox {
    height: 90%;
    width: 100%;
    background-color: rgba(255, 250, 204, 0.5);
    display: flex;
    flex-direction: column;
}

.writeBox {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
}

.messageType {
    height: 100%;
    width: 80%;
}

input[type="text"] {
    background-color: #ffd299;
    height: 100px;
    width: 330px;
    font-size: 15px;
}

#btnSend {
    height: 300px;
    width: 100%;
    background-color: #ffb251;
    padding-left: 25px;
}

#messageInput {
    height: 100%;
    width: 330px;
}

.sendBtnDiv {
    height: 100%;
    width: 20%;
    background-color: #ffb251;
}

.messageBubbleDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 60px;
}

.messageBubbleDivMine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    height: 60px;
}

.messageBubble {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #e2b57c;
}

.messageBubbleMine {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #baa891;
}

.coco {
    display: flex;
    flex-direction: row;
    width: 100%;
}

input[type="submit"] {
    width: 150px;
    height: 100%;
    border: none;
    background-color: #acad83;
}

#fighterDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid grey;
}

#fighterChosenDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    background-color: rgba(104, 104, 84, 0.5);
    width: 100%;
    height: 70px;
    border-bottom: 1px solid grey;
}

img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

button {
    padding-right: 30px;
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-size: 10px;
    text-align: center;
    background-color: rgba(104, 104, 84, 0);
}

h2 {
    font-size: 40px;
    font-family: fantasy;
}




