.mainContainer {
    height: 100%;
    width: 70%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maxiContainer {
    display: flex;
    flex-direction: row;
    height: 550px;
    width: 700px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px #888888;
}

#fightersContainer {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 220px;
    background-color: #eeefb6;
}

.boxDialog {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 480px;
    border-radius: 10px;
}

body {
    height: 100%;
    width: 100%;
}

.messagesBox {
    height: 90%;
    width: 100%;
    background-color: #fffacc;
    display: flex;
    flex-direction: column;
}

.writeBox {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
}

.messageType {
    height: 100%;
    width: 80%;
}

input[type="text"] {
    background-color: #ffd299;
    height: 100px;
    width: 330px;
    font-size: 15px;
}

#btnSend {
    height: 300px;
    width: 100%;
    background-color: #ffb251;
    padding-left: 25px;
}

#messageInput {
    height: 100%;
    width: 330px;
}

.sendBtnDiv {
    height: 100%;
    width: 20%;
    background-color: #ffb251;
}

.messageBubbleDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 60px;
}

.messageBubbleDivMine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    height: 60px;
}

.messageBubble {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #e2b57c;
}

.messageBubbleMine {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #baa891;
}

.coco {
    display: flex;
    flex-direction: row;
    width: 100%;
}

input[type="submit"] {
    width: 150px;
    height: 100%;
    border: none;
    background-color: #acad83;
}
