.mainContainer {
    height: 100%;
    width: 70%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.maxiContainer {
    display: flex;
    flex-direction: row;
    height: 550px;
    width: 700px;
    justify-content: center;
    align-items: center;
}

#fightersContainer {
    height: 550px;
    width: 220px;
    background-color: rgba(72, 81, 96, 0.5);
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 0px;
}

.boxDialog {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 480px;
    border-radius: 10px;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("inbox_cover.jpg")
}

.messagesBox {
    height: 90%;
    max-height: 90%;
    width: 100%;
    background-color: rgba(33,33,33, 0.8);
    overflow: auto;
}

.writeBox {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
}

.messageType {
    height: 100%;
    width: 80%;
}

input[type="text"] {
    background-color: rgba(113, 123, 140, 0.5);
    height: 100px;
    width: 330px;
    font-size: 15px;
    border: none;
}

#btnSend {
    height: 300px;
    width: 100%;
    background-color: #12034f;
    padding-left: 25px;
}

#messageInput {
    height: 100%;
    width: 330px;
}

.sendBtnDiv {
    height: 100%;
    width: 20%;
    background-color: #12034f;
}

.messageBubbleDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.messageBubbleDivMine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.messageBubble {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #497c7c;
}

.messageBubbleMine {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    max-width: 350px;
    background-color: #615068;
}

.msgText {
    color: white;
    font-size: 13px;
    font-weight: 100;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 0px;
}

.coco {
    display: flex;
    flex-direction: row;
    width: 100%;
}

input[type="submit"] {
    width: 150px;
    height: 100%;
    color: #FFC107;
    background-color: #212121;
    border:0.5px solid #FFC107;
    box-shadow: 0px 0px 20px 4px #FFC107;
    font-family: 'Orbitron', sans-serif;
    transition: 1s;
}

input[type="submit"]:hover {
    box-shadow: 0px 0px 30px 15px #FFC107;
}

#fighterDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid grey;
}

#fighterChosenDiv {
    display: flex;
    flex-direction: row;
    background-color: rgba(72, 81, 96, 0.8);
    width: 100%;
    height: 70px;
    border-bottom: 1px solid grey;
}

img {
    width: 70px;
    height: 70px;

}

.btnTalk {
    padding-right: 30px;
    width: 150px;
    height: 70px;
    padding-right: 30px;
    line-height: 25px;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-align: center;
    background-color: rgba(104, 104, 84, 0);
    float: left;
}

.btnTalk:hover {
    background-color: rgba(255, 187, 0, 0.5);
}

.black-background {
    background-color: black;
    margin-top: 30px;
    flex-grow: 1;
    width: 500px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.neon-effect {
    background-color: #212121;
    color:#FFC107;
    font-family: 'Raleway', sans-serif;
    text-align:center;
    box-shadow: 0px 0px 20px 4px #FFC107;
    border-radius:20px;
}

.flickering {
    color:#18FFFF;
    font-family: 'Orbitron', sans-serif;
    font-style: italic;
    font-size:26px;
    letter-spacing:10px;
    animation: text-flicker 3s linear infinite;
}

#normal {
    color:#18FFFF;
    font-family: 'Orbitron', sans-serif;
    font-style: italic;
    font-size:26px;
    letter-spacing:10px;
}

#offset {
  animation: letter-flicker 2s linear infinite;
}

@keyframes text-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #18FFFF;
  }

  2% {
    opacity:1;
    text-shadow: 0px 0px 29px #18FFFF;
  }
  8% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #18FFFF;
  }
  9% {
    opacity:1;
    text-shadow: 0px 0px 29px #18FFFF;
  }
  12% {
    opacity:0.1;
    text-shadow: 0px 0px #18FFFF;
  }
  20% {
    opacity:1;
    text-shadow: 0px 0px 29px #18FFFF
  }
  25% {
    opacity:0.3;
    text-shadow: 0px 0px 29px #18FFFF
  }
  30% {
    opacity:1;
    text-shadow: 0px 0px 29px #18FFFF
  }

  70% {
    opacity:0.7;
    text-shadow: 0px 0px 29px #18FFFF
  }

  72% {
    opacity:0.2;
    text-shadow:0px 0px 29px #18FFFF
  }

  77% {
    opacity:.9;
    text-shadow: 0px 0px 29px #18FFFF
  }
  100% {
    opacity:.9;
    text-shadow: 0px 0px 29px #18FFFF
  }
}

@keyframes border-flicker {
  0% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px #FFC107;
-moz-box-shadow: 0px 0px 78px 4px #FFC107;
box-shadow: 0px 0px 78px 4px #FFC107;
  }
  2% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px #FFC107;
-moz-box-shadow: 0px 0px 78px 4px #FFC107;
box-shadow: 0px 0px 78px 4px #FFC107;
  }
  4% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px #FFC107;
-moz-box-shadow: 0px 0px 78px 4px #FFC107;
box-shadow: 0px 0px 78px 4px #FFC107;
  }

  8% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px #FFC107;
-moz-box-shadow: 0px 0px 78px 4px #FFC107;
box-shadow: 0px 0px 78px 4px #FFC107;
  }
  70% {
    opacity:0.7;
    -webkit-box-shadow: 0px 0px 78px 4px #FFC107;
-moz-box-shadow: 0px 0px 78px 4px #FFC107;
box-shadow: 0px 0px 78px 4px #FFC107;
  }
  100% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px #FFC107;
-moz-box-shadow: 0px 0px 78px 4px #FFC107;
box-shadow: 0px 0px 78px 4px #FFC107;
  }
}

@keyframes letter-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #18FFFF;
  }
  2% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #18FFFF;
  }
  4% {
    opacity:1;
    text-shadow: 0px 0px 29px #18FFFF;
  }


  19% {
    opacity:1;
    text-shadow: 0px 0px 29px #18FFFF;
  }
  21% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #18FFFF;
  }
  23% {
    opacity:1;
    text-shadow: 0px 0px 29px #18FFFF;
  }

  80% {
    opacity:1;
    text-shadow: 0px 0px 29px #18FFFF;
  }
  83% {
    opacity:0.4;
    text-shadow: 0px 0px 29px #18FFFF;
  }
  87% {
    opacity:1;
    text-shadow: 0px 0px 29px #18FFFF;
  }
}

.nameFighter {
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Orbitron', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}



