body {
    background-color: #212121;
    color: #18FFFF;
    background-image: url("index-background.png");
    background-attachment: fixed;
    background-size: cover;
}

.main-container {
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.black-background {
    background-color: #212121;
    margin-top: 60px;
    margin-bottom: 80px;
    flex-grow: 1;
    width: 500px;
    border-radius: 20px;
}

.presentation-pane {
    display: flex;
    padding: 20px;
    opacity: 0.9;
    border-radius: 20px;
    background-color: #212121;
    border:3.5px solid #FFC107;
    box-shadow: 0px 0px 10px 4px #FFC107;
}

.presentation-pane > div {
    text-align: center;
}

.center-box {
    border-right: 1px solid #18FFFF;
    border-left: 1px solid #18FFFF;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.h3-class {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 20px;
}

.buttons-div {
    font-family: 'Orbitron', sans-serif;
    color: #18FFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link-button, .link-button > a {
    opacity: 0.9;
    background-color: #212121;
    height: 100%;
    width: 140px;
    text-align: center;
    line-height: 60px;
    border-radius: 20px;
    transition: 0.5s;
}

.link-button > a {
    color: #18FFFF;
    text-shadow: 0 0 0.5px #18FFFF;
    display: block;
    height: 100%;
}

.link-button:hover, .link-button > a:hover {
    border-radius: 40px;
    text-shadow: 0 0 10px #18FFFF;
    opacity: 1;
    cursor: pointer;
}

.leaderboards {
    color: #18FFFF;
    width: 100%;
    background-color: #212121;
    border-radius: 20px;
    padding: 20px;
    border:3.5px solid #FFC107;
    box-shadow: 0px 0px 10px 4px #FFC107;
}

.avatar-slider {
    text-align: left;
    display: flex;
    align-items: center;
}

.mySlides {
    display: none;
    height:160px;
    width: 160px;
    border-radius: 10px;
    border:3.5px solid #18FFFF;
    box-shadow: 0px 0px 10px 4px #18FFFF;
}

.avatar-slider > .h3-class {
    margin-bottom: 0;
    flex-grow: 3;
    margin-left: 20px;
}

#leaderboard-table {
    color: #18FFFF;
}

.neon-effect {
    background-color: #212121;
    color:#FFC107;
    font-family: 'Raleway', sans-serif;
    text-align:center;
    border:3.5px solid #FFC107;
    border-radius:20px;
    animation: border-flicker 2s linear infinite;
 }

#intro-text {
    font-size: 22px;
    text-shadow: 0px 0px 29px #FFC107;
}

 .flickering {
    color:#18FFFF;
    font-family: 'Orbitron', sans-serif;
    font-style: italic;
    font-size:26px;
    letter-spacing:10px;
    animation: text-flicker 3s linear infinite;
}

#offset {
  animation: letter-flicker 2s linear infinite;
}

@keyframes text-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #18FFFF;
  }

  2% {
    opacity:1;
    text-shadow: 0px 0px 29px #18FFFF;
  }
  8% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #18FFFF;
  }
  9% {
    opacity:1;
    text-shadow: 0px 0px 29px #18FFFF;
  }
  12% {
    opacity:0.1;
    text-shadow: 0px 0px #18FFFF;
  }
  20% {
    opacity:1;
    text-shadow: 0px 0px 29px #18FFFF
  }
  25% {
    opacity:0.3;
    text-shadow: 0px 0px 29px #18FFFF
  }
  30% {
    opacity:1;
    text-shadow: 0px 0px 29px #18FFFF
  }

  70% {
    opacity:0.7;
    text-shadow: 0px 0px 29px #18FFFF
  }

  72% {
    opacity:0.2;
    text-shadow:0px 0px 29px #18FFFF
  }

  77% {
    opacity:.9;
    text-shadow: 0px 0px 29px #18FFFF
  }
  100% {
    opacity:.9;
    text-shadow: 0px 0px 29px #18FFFF
  }
}

@keyframes border-flicker {
  0% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px #FFC107;
-moz-box-shadow: 0px 0px 78px 4px #FFC107;
box-shadow: 0px 0px 78px 4px #FFC107;
  }
  2% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px #FFC107;
-moz-box-shadow: 0px 0px 78px 4px #FFC107;
box-shadow: 0px 0px 78px 4px #FFC107;
  }
  4% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px #FFC107;
-moz-box-shadow: 0px 0px 78px 4px #FFC107;
box-shadow: 0px 0px 78px 4px #FFC107;
  }

  8% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px #FFC107;
-moz-box-shadow: 0px 0px 78px 4px #FFC107;
box-shadow: 0px 0px 78px 4px #FFC107;
  }
  70% {
    opacity:0.7;
    -webkit-box-shadow: 0px 0px 78px 4px #FFC107;
-moz-box-shadow: 0px 0px 78px 4px #FFC107;
box-shadow: 0px 0px 78px 4px #FFC107;
  }
  100% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px #FFC107;
-moz-box-shadow: 0px 0px 78px 4px #FFC107;
box-shadow: 0px 0px 78px 4px #FFC107;
  }
}

@keyframes letter-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #18FFFF;
  }
  2% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #18FFFF;
  }
  4% {
    opacity:1;
    text-shadow: 0px 0px 29px #18FFFF;
  }


  19% {
    opacity:1;
    text-shadow: 0px 0px 29px #18FFFF;
  }
  21% {
    opacity:0.1;
    text-shadow: 0px 0px 29px #18FFFF;
  }
  23% {
    opacity:1;
    text-shadow: 0px 0px 29px #18FFFF;
  }

  80% {
    opacity:1;
    text-shadow: 0px 0px 29px #18FFFF;
  }
  83% {
    opacity:0.4;
    text-shadow: 0px 0px 29px #18FFFF;
  }
  87% {
    opacity:1;
    text-shadow: 0px 0px 29px #18FFFF;
  }
}
