table {
    width: 1050px;
    margin: auto;
    border-spacing: 0px;
    padding: 0px;
}

table tr th, table tr td {
    padding: 0rem 0rem;
    border-collapse: collapse;
    border-width: 0px;
    border-spacing: 0px;
    

}

td {
    width: 70px;
    height: 70px;
    position: relative;
    padding: 0px; 
    margin: 0px;
    border-width:0px;
}

tr{
    height: 70px;
    padding: 0px; 
    margin: 0px;
    border-width:0px;
    border-bottom: 0px !important;
}

img {
    display: block;
    height: 70px;
    width: 70px;
    margin: 0px;
    padding: 0px;
    border-width:0px;
}